{% extends 'base.html' %}

{% block main %}

<div class="mt-3 container">
    <form id="post-create-form" method="post" novalidate>
        {% csrf_token %}
        <div>
            <label for="title" class="w-100">Title</label>
            {{ post_form.title }}
        </div>
        <div class="mt-3">
            <label for="content">Content</label>
            {{ post_form.content }}
        </div>
        <input class="mt-3" type="submit" value="submit">
    </form>
</div>

{% include 'post/includes/tiny_editor.html' %}

{% endblock %}